* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background-image.png');
  font-family: 'Roboto Slab', serif;
  background-size: auto auto;
  height: 100vh;
  font-size: 12px;
}

header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  transform: scale(0.5) translateX(-20vh);
  opacity: 0;
  animation: linear 1.5s animacaoTitulo both;
}

@keyframes animacaoTitulo {
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

/* se a tela tiver pelo menos 360px vai carregar estes estilos */
@media (min-width: 360px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */

@media (min-width: 600px) {
  body {
    font-size: 18px;
    background-attachment: fixed;
  }
}

/* breakpoint */

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* breakpoint */

@media (min-width: 1920px) {
  body {
    font-size: 24px;
  }
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color 2s;
}

.menu a:active, .menu a:hover {
  color: black;
  background-color: grey;
}

a {
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 4em;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: whitesmoke;
}

sobre,
.contato, 
.portfolio {
  padding: 2em;
  min-height: 100vh
}

@media (min-width: 1080px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}


@media (min-width: 1920px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Roboto Slab', serif;
  padding: 1.5em;
  font-size: 2em;
  color: white;
}

.sobre p {
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.1em;
  text-align: justify;
}

.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: cyan;
  text-decoration: none;
  color: white;
}

.sobre .avatar {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  margin-left: 2em;
  margin-right:1em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    float: right;
  }
}



.portfolio .grid {
  display: grid;
  gap: 2em;
  text-align: center;
  color: white;
}

@media(min-width: 370px) {
  .grid {
    grid-template-columns: 240px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 48px - 8em)
  }
}

@media(min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em -48px)
  }
}

@media(min-width: 880px) {
  .grid {
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 8em -48px)
  }
}

@media(min-width: 1280px) {
  .grid {
    grid-template-columns: 550px 550px 550px 550px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 8em -48px)
  }
}

@media(min-width: 1920px) {
  .grid {
    grid-template-columns: 660px 660px 660px 660px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 8em -48px)
  }
}

.flip-card {
  height: 230px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .4);
  height: 230px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}


.img-portfolio {
  height: 230px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.15);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 800ms;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
}