
*{
margin:0;
padding:0;
box-sizing: border-box;  
}



body
{
background-image:url('../img/background-image.jpg');  
font-family: Arial;
background-size: auto 100vh; 
height: 100vh;  
}

header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 360px) {
  body {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-image: none;
    background-color: grey;
  }
}

/* breakpoint */
@media (min-width: 1920px) {
  body {
    font-size: 24px;
    background-image: none;
    background-color: grey;
  }
}

.menu
{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none; 
 }

 .menu a {
  
  display: block;
  padding: 10px 20px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 4em;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
 font-family: 'Roboto Slab', serif;
 text-align: center;
 color: whitesmoke;
}

.portfolio{
  padding: 2em;
}
.portfolio h2
{
  font-family: 'Roboto Slab', serif;
  padding: 1.5em;
  font-size: 2em;
}
.grid{
  display: grid;
  gap: 2em;
  text-align: center;
  grid-template-columns: 240px 240px;
}


@media(min-width: 560px){
  .grid{
    grid-template-columns: 240px 240px;
  }
}


@media(min-width: 880px){
  .grid{
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 48px - 8em)
  }
}

@media(min-width: 1280px){
  .img-portfolio {
    height: 180px;
    width: 220px;
    object-fit: cover;
  }
}

